.cardWrapper {
    padding: 3.4rem 5px 5px 5px;
    margin: 20px;
    position: relative;

    & p {
        padding: 5px;
        min-height: 10vh;
        margin: 5px 0 5px 7%;
    }

    & a {
        text-decoration: none;
        color: black;
    }
    & h2 {
        top: 0;
        font-size: 4rem;
        color: var(--main-purple);
        opacity: .7;
        position: absolute;
    }
}

.paragraph {
    &Show {
        display: block;
    }
    &Hide {
        display: None;
    }
}

.Event {
    background-color: var(--timeline-orange);
}

.Trend {
    background-color: var(--timeline-teal);
}

.Program {
    background-color: var(--timeline-yellow);
}

.Framework {
    background-color: var(--timeline-purple);
}

.Publication {
    background-color: var(--timeline-red);
}

.textToggle{
    display:none;
}

@media only screen and (orientation: landscape) {
    .cardWrapper {
        min-width: 90vw;
        overflow-y: scroll;
    }
    .cardWrapperOverview {
        min-width: 15vw;
    }

}