.cardWrapper {
    background-color: var(--main-blue-light);
    padding: 5px;
    margin: 5px;
}

@media only screen and (orientation: landscape) {
    .cardWrapper {
        min-width: 90vw;
    }
}