.cardWrapper {
    background-color: var(--main-blue-light);
    padding: 5px;
    margin: 20px;

    & p {
        padding: 5px;
        min-height: 10vh;
        margin: 5px 0 5px 10%;
    }
    & a {
        text-decoration: none;
        color: black;
    }
}

.paragraph {
    &Show {
        display: block;
    }
    &Hide {
        display: None;
    }
}

.Event {
    background-color: var(--timeline-orange);
}

.Trend {
    background-color: var(--timeline-teal);
}

.Program {
    background-color: var(--timeline-yellow);
}

.Framework {
    background-color: var(--timeline-purple);
}

.Publication {
    background-color: var(--timeline-red);
}

.textToggle{
    display:none;
}

@media only screen and (orientation: landscape) {
    .cardWrapper {
        min-width: 90vw;
    }
    .cardWrapperOverview {
        min-width: 15vw;
    }

}