.scrollWrapper {
    height: 100%;
}

.bannerArea {
   margin-top:10vh;
}

.timeline {
    &Wrapper {
        display: flex;
        overflow: hidden;
    }
    &Scroll {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    &Scroll ul{
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    &Scroll li {
        margin: 0 10px 0 10px;
        list-style: none;
    }
    &Scroll a {
        text-decoration: none;
        color: black;
    }

    &Display {
        height: 60vh;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        scroll-behavior: smooth;
    }
}

@media only screen and (orientation: landscape){
    .bannerArea {
        margin-top:20vh;
    }
    .timeline {
        &Wrapper {
            width: 100vw;
            flex-direction: column;
        }
        &Scroll {
            overflow-x: scroll;
            overflow-y: hidden;
        }
        &Scroll ul{
            padding: 1rem;
            width: 100%;
            flex-direction: row;
        }
        &Display {
            flex-direction: row;
            overflow-y: hidden;
            overflow-x: scroll;
        }
    }
}

@media only screen and (min-width: 800px) {
    .bannerArea {
        margin-top: 10vh;
    }
}
