:root {
  font-size: 2vh;
  --main-background-color: white;
  --timeline-orange: #e56e2d;
  --timeline-teal: #5bcaa9;
  --timeline-yellow: #ebbf2f;
  --timeline-purple: #a84d96;
  --timeline-red: #e04f4d;
  --main-blue: #009EDE;
  --main-blue-light: rgba(149, 204, 226,0.4);
  --main-green: #60B88D;
  --main-purple: #772C77;
  --main-gray: rgba(88, 89, 91, 0.116);
  --ocean-blue: #0071B8;
  @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap'); //Should be franklin gothic 
}

@media only screen and (orientation: landscape) {
  :root {
    font-size: 2vw;
  }
}



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family:'Libre Franklin', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-color);
  overflow-x:hidden;
}

.mainWrapper {
  height: 100vh;
}

p {
  font-weight: 600;
}
