.banner {
    height: 30vh;
    width: 100%;
    &Image {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

@media only screen and (orientation: landscape) {
    .banner {
        height: 40vh;
    }
}